@font-face{
  font-family:founders;
  font-weight:700;
  src:url(../fonts/founders-grotesk-x.cd2d353.woff2) format("woff2")
}
@font-face {
  font-family: pp;
  font-weight: 700;
  src: url(../fonts/PPNeueMontreal-Bold.2b1a179.woff2) format("woff2"),url(../fonts/PPNeueMontreal-Bold.e85d03d.woff) format("woff")
}

@font-face {
  font-family: pp;
  font-weight: 500;
  src: url(../fonts/PPNeueMontreal-Medium.88ee7c9.woff2) format("woff2"),url(../fonts/PPNeueMontreal-Medium.58fc77d.woff) format("woff")
}

@font-face {
  font-family: pp;
  font-weight: 400;
  src: url(../fonts/PPNeueMontreal-Book.525bb33.woff2) format("woff2"),url(../fonts/PPNeueMontreal-Book.a1124fd.woff) format("woff")
}